.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: fit-content;

}

.image{
  width: 260px ;
  margin: 0 auto;

}
.busqueda{
  display: flex;
  flex-direction: row;
  margin: 50px auto;
  width: 360px;
  height: 40px;
  gap: 10px;
  justify-content: space-between;
  flex-wrap:wrap;
}
.entrada{
  width: 80px;
}
.link{
  margin: 0 auto;
  width: 160px;
  border: 1px solid black;
  border-radius: 20%;
  font-size: 20px;
  text-decoration: none;
  background-color: aqua;

}
.selector{
  width: 80px;
}

.lista{
  text-decoration: none;
  list-style: none;
}
.elementolista{
  display:flex;
  width: 260px;
  flex-direction: row;
  justify-content: space-between;
}
.elemento1{
  font-size: 20px;
}

.cuerpo{
  margin: 0 auto;
}
.recuadroimagen{
  width: 360px;
  margin: 0 auto;
  border: 1px solid black;
}